<div class='col-md-11 py-2 mt-2 chapter-region-%{contentInd}' name='chapter-heading'>
    <h4>
        <li contenteditable='true' id='{{chapter_tag}}%{contentInd}' class='chapter-name save-content' style='text-align: center' name='.chapter-region-%{contentInd}'>
            New Chapter
        </li>
    </h4>
</div>
<div class='col col-md-1 py-2 chapter-region-%{contentInd}'>
    <button id='delete-content%{contentInd}' class = 'btn btn-primary btn-sm talk-to px-2 talk-button' data-toggle='tooltip' title='Delete' name='.chapter-region-%{contentInd}'>
        <i class='fa fa-trash style header_button_icon' name='.chapter-region-%{contentInd}'></i>
    </button>
</div>